<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TikTok Video Downloader</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5648978035049490"
     crossorigin="anonymous"></script>
             <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JP77LYMTMQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JP77LYMTMQ');
    </script>
  </head>
  <body>
    
    <header>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img id="logo" src="../static/assets/toktok_PNG22.svg" width="70px" height="70px" />
        </a>
          <a class="navbar-brand" href="{{ url_for('homePage') }}">TikTok Video Downloader</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navButtonToggler" role="button" ><i class="fa fa-bars" aria-hidden="true"></i></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('homePage') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="{{ url_for('contactPage') }}">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('privacyPage') }}">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div style="padding-top: 250px;" class="d-flex justify-content-center">
         <p name="titlePage" >ERROR :</p>
         <p name="titlePage"> Try a valid url</p>
      </div>
    </main>
    <footer>
      <p>We are not affiliated with TikTok, Douyin or Bytedance.</p>
      <p style="color: rgb(84, 84, 84) !important ">Copyright 2022</p>
    </footer>
  </body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</html>