<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TikTok Video Downloader</title>

    <meta charset="utf-8">
    <meta name="description" content="Fastest TikTok Downloader! Save your videos in two taps, fast and free. With or without a watermark with sss TikTok mp4 video downloader online" />
    <meta name="author" content="tokvid.net" />
    <meta property="og:title" content="TikTok video downloader - Download TikTok video online" />
    <meta property="og:description" content="Easy TikTok video Downloader !! Download easily your favorite tiktok video format mp4 in a few clicks you can also download the cover everything online !" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://tokvid.net/" />
    <meta property="og:site_name" content="tokvid.net" />


    <link rel="shortcut icon" href="#">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
  </head>
  <body>
    
    <header>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img id="logo" src="../static/assets/toktok_PNG22.svg" width="70px" height="70px" />
          </a>
          <a class="navbar-brand" href="#">TikTok Video Downloader</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navButtonToggler" role="button" ><i class="fa fa-bars" aria-hidden="true"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link"  href="{{ url_for('contactPage') }}">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('privacyPage') }}">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div style="padding-top: 250px;" class="d-flex justify-content-center">
        <form id="theForm" method="POST" onsubmit="validate()">
          <label name="titlePage" for="name" >TikTok Video Url:
          </label>
          <div id="containInput" class="container">
            <input id="urlInput" name="url" class="InputStyle" placeholder="https://www.tiktok.com/@username/video/xxxxxxxxxxxx"
             style="font-family:Arial, FontAwesome" type="text" /> 
             <svg id="buttonSubmit" onclick="submitForm()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            <div id="loadingSubmit" class="spinner-grow text-danger" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <p>We are not affiliated with TikTok, Douyin or Bytedance.</p>
      <p style="color: rgb(84, 84, 84) !important ">Copyright 2022</p>
    </footer>
  </body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script id="scriptJs" name="/static/js/index.js" src= "/static/js/loadJavascript.js"></script>
</html>